/* Register.css */
button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #531cc0;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #a43ac1;
}


.notification {
  color: #d8000c;
  border-color: #d8000c;
  padding: 10px;
  text-align: center;
  position: fixed; /* or 'absolute' depending on your specific needs */
  top: 10px; /* distance from the top of the viewport */
  left: 50%; /* centers the div horizontally */
  transform: translateX(-50%); /* aligns center of div with center of screen */
  z-index: 1000; /* ensures it is above other content */
  
}

form {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
  }
  
  label { 
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Includes padding and border in the element's width and height */
  }

  